<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/head"></th:block>

<body>
    <th:block th:include="fragments/navbarr"></th:block>
    <div class="container-fluid w-95 pt-3">
        <div class="row">
            <div class="col-md-4 pb-3" th:each="customer : ${customerUseServiceResortDtos}">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <div class="name">
                            <h6 class="card-subtitle mb-2 text-muted col-md-5">Customer Id:</h6>
                            <h5 class="card-title" th:text="${customer.getCustomerId()}"></h5>
                        </div>
                        <div class="customer-name row">
                            <h6 class="card-subtitle mb-2 text-muted col-md-5">Customer Name:</h6>
                            <h6 class="card-subtitle mb-2 text-muted col-md-7" th:text="${customer.getCustomerName()}">
                            </h6>
                        </div>
                        <div class="customer-type row">
                            <h6 class="card-subtitle mb-2 text-muted col-md-5">Customer type:</h6>
                            <h6 class="card-subtitle mb-2 text-muted col-md-7" th:text="${customer.getCustomerTypeName()}"></h6>
                        </div>
                        <div class="contract row">
                            <h6 class="card-subtitle mb-2 text-muted col-md-5">Contract id:</h6>
                            <h6 class="card-subtitle mb-2 text-muted col-md-7" th:text="${customer.getContractId()}">
                            </h6>
                        </div>
                        <div class="service row">
                            <h6 class="card-subtitle mb-2 text-muted col-md-5">Service:</h6>
                            <h6 class="card-subtitle mb-2 text-muted col-md-7" th:text="${customer.getServiceResortName()}"></h6>
                        </div>
                        <div class="rent-type row">
                            <h6 class="card-subtitle mb-2 text-muted col-md-5">Rent type:</h6>
                            <h6 class="card-subtitle mb-2 text-muted col-md-7" th:text="${customer.getRentTypeName()}">
                            </h6>
                        </div>
                        <div class="service-type row">
                            <h6 class="card-subtitle mb-2 text-muted col-md-5">Service type:</h6>
                            <h6 class="card-subtitle mb-2 text-muted col-md-7" th:text="${customer.getServiceTypeName()}"></h6>
                        </div>
                        <div class="contract-detail row">
                            <h6 class="card-subtitle mb-2 text-muted col-md-5">Contract detail:</h6>
                            <h6 class="card-subtitle mb-2 text-muted col-md-7" th:text="${customer.getContractDetailId()}"></h6>
                        </div>
                        <div class="attach-service row">
                            <h6 class="card-subtitle mb-2 text-muted col-md-5">Attach service:</h6>
                            <h6 class="card-subtitle mb-2 text-muted col-md-7" th:text="${customer.getAttachServiceName()}"></h6>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</body>

</html>