<nav class="shadow navbar fixed-top navbar-expand-lg navbar-light" style="box-shadow: 50px;">
    <div class="container-fluid">
        <img src="/assets/logo.png" alt="" width="100" class="d-inline-block align-text-top logo">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span><svg width="24" height="24" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path
                                d="M6.248 16.002c.966 0 1.75.784 1.75 1.75v2.498A1.75 1.75 0 0 1 6.248 22H3.75A1.75 1.75 0 0 1 2 20.25v-2.498c0-.966.784-1.75 1.75-1.75h2.498ZM9.748 18h11.505a.75.75 0 0 1 .102 1.493l-.102.007H9.748a.75.75 0 0 1-.102-1.493L9.748 18h11.505H9.748Zm-3.5-8.999c.966 0 1.75.784 1.75 1.75v2.498a1.75 1.75 0 0 1-1.75 1.75H3.75A1.75 1.75 0 0 1 2 13.249V10.75c0-.966.784-1.75 1.75-1.75h2.498ZM9.748 11h11.505a.75.75 0 0 1 .102 1.493l-.102.007H9.748a.75.75 0 0 1-.102-1.493L9.748 11h11.505H9.748Zm-3.5-9c.966 0 1.75.784 1.75 1.75v2.498a1.75 1.75 0 0 1-1.75 1.75H3.75A1.75 1.75 0 0 1 2 6.248V3.75C2 2.784 2.784 2 3.75 2h2.498Zm3.5 2h11.505a.75.75 0 0 1 .102 1.493l-.102.007H9.748a.75.75 0 0 1-.102-1.493L9.748 4h11.505H9.748Z"
                                fill="#ffffff" />
                    </svg></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <div class="pr-3">
                    <li class="nav-item">
                        <a class="nav-link hover-underline-animation" href="/customer/home"
                           style="color: white;">Customer</a>
                    </li>
                </div>
                <div class="pr-3">
                    <li class="nav-item">
                        <a class="nav-link hover-underline-animation" href="" style="color: white;">Employee</a>
                    </li>
                </div>
                <div class="pr-3">
                    <li class="nav-item">
                        <a class="nav-link hover-underline-animation" href="/resort-service/list" style="color: white;">Service</a>
                    </li>
                </div>
                <div class="pr-3">
                    <li class="nav-item">
                        <a class="nav-link hover-underline-animation" href="#" style="color: white;">Contract</a>
                    </li>
                </div>

            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>